Package: com.gilshahar7.snapperfreeze
Name: SnapperFreeze
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Allows you to draw over Snapper's snaps.
Maintainer: gilshahar7
Author: gilshahar7
Section: Tweaks
