Package: com.gilshahar7.sfcctoggle
Name: SFCCToggle
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Control Center module!
Maintainer: gilshahar7
Author: gilshahar7
Section: Control Center (Modules)
